extends layout

block content
  script(type='text/javascript', src="/socket.io/socket.io.js")
  script(type='text/jsx', src="javascripts/fight.js")
  h1 Twitter Stream Retweet Count
  div#content
  div#top_ten
